# Dart/Pub specific
.dart_tool/
.packages
build/
pubspec.lock

# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# IDE / Editor specific
.idea/
.vscode/
*.iml

# Logs & System Files
*.log
*.DS_Store

# Miscellaneous
*.class
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
